
@font-face {
    font-family: F16;
    src: url(
    font-weight: bold;
    font-style: normal;
  

.main { 
  font-family: Lato, verdana, sanserif;
}
.main p {
  font-family: Lato, verdana, sanserif;
}
