@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
* { 
  font-family: Lato, verdana, sans-serif;
  color: blue;
}

 .main { 
   background-image: url("jwd-eatery-front.png");
   background-color: #BCB88A;
   font-weight: bold;
} 

.intro {
   font-weight: bold;
   text-align: center;
   line-height: 10px;
}
